// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$font-primary: 'Raleway', Arial, sans-serif;


// Overrides
$grid-gutter-width: 40px;
$border-radius-base:  4px;
$padding-base-vertical: 14px;

$brand-primary: #da22ff;
$brand-secondary: #9733EE;
$brand-special: #9733EE;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary;
$form-group-margin-bottom:       30px;



// Mixin
@mixin translateX($translatex) {
    -moz-transform: translateX($translatex);
    -webkit-transform: translateX($translatex);
    -ms-transform: translateX($translatex);
    -o-transform: translateX($translatex);
    transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flexwrap() {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
@font-face {
    font-family: 'icomoon';
    //src:url('../fonts/icomoon/icomoon.eot?srf3rx');
    //src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
    //url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
    //url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
    //url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icomoon() {

    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}




