#larea {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
}

@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
#editArea {
    background-color: #111;

    * {
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p {
        font-size: 1.1em;
        margin: 1em 0;
    }

    .description {
        margin: 1em auto 2.25em;
    }

    h1 {
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        font-size: 2.5em;
    }

    ul {
        list-style: none;
        padding: 0;

        .inner {
            padding-left: 1em;
            overflow: hidden;
            display: none;

            &.show {
                /*display: block;*/
            }
        }

        li {
            margin: .5em 0;

            a.toggle {
                width: 100%;
                display: block;
                background: rgba(0, 0, 0, 0.78);
                color: #fefefe;
                padding: .75em;
                border-radius: 0.15em;
                transition: background .3s ease;

                &:hover {
                    background: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}

#launchpad {
    display: flex;
    background: #222831;
    //background: #00263b;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    border-radius: 1em;
    min-width: 40em;
    min-height: 40em;
    max-width: 90em;
    max-height: 90em;

    -webkit-box-shadow: -19px -11px 36px -9px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -19px -11px 36px -9px rgba(0, 0, 0, 0.78);
    box-shadow: -19px -11px 36px -9px rgba(0, 0, 0, 0.78);
}

#btnArea {
    background-color: #eeeeee;
    //background-color: #d8c593;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lpad__button {
    color: #444;
    border-radius: 1em;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    width: 125px;
    height: 100px;
    padding: 5px;
    text-align: center;
    margin: 0.25em;
}

#layers {
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-column-gap: 1em;
}

#vertical {
    display: flex;
    align-items: flex-end;

    #flayer2 {
        display: grid;
        align-items: center;
        justify-content: center;

        .fbutton {
            margin: 0;

        }
    }
}

.layer {
    min-width: 30em;
    max-width: 80%;
    display: flex;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    //background-color: #393e46;
    //background-color: #ffb367;
    margin: 1em auto 0;
    padding: 1%;
    flex-wrap: wrap;
    min-height: 10em;

    :active {
        color: red;
        box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.6);
    }
}

#flayer1 {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    //justify-content: center;
    align-items: center;
    //background-color: #393e46;
    margin: 0 auto;
    min-width: 30em;
    max-width: 85%;
    border-radius: 1em;
    min-height: 2em;
    max-height: 5em;
}

#flayer2 {
    //float: right;
    min-height: 32em;
    max-height: 80%;
    width: 2em;
    border-radius: 1em;
    //background-color: #393e46;
}

.fbutton {
    display: grid;
    height: 1.75em;
    width: 1.75em;
    border-radius: 50%;
    margin-left: 25%;
    background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-image: -moz-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-image: -webkit-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-image: -ms-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-image: -o-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite !important;
    -moz-animation: rainbow 18s ease infinite !important;
    -o-animation: rainbow 18s ease infinite !important;
    animation: rainbow 18s ease infinite !important;

    .aux {
        display: grid;
        align-items: center;
        text-align: center;
        font-size: 1em;
        color: white;
        background: black;
        width: 85%;
        height: 85%;
        border-radius: 58%;
        margin: 5% auto 0;
        border: black 1px solid;
    }
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

//.lpad__button:hover,
//.lpad__button:focus {
//    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
//    transform: translateY(-0.25em);
//    color: blue;
//}
//
//.lpad__button {
//    --hover: #{adjust-hue(blue, 45deg)}
//}

.lpad__button {
    border: #383838 5px solid;
    background: #A9A9A9;
}

