// Import
@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import "variables";


/* =======================================================
*
* 	Template Style
*
* ======================================================= */

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    background: #ffffff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    @include transition(.5s);

    .offcanvas & {
        overflow: hidden;
        position: absolute;

        &:after {
            @include transition(2s);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 101;
            background: rgba(0, 0, 0, .7);
            content: "";
        }
    }
}

a {
    color: $brand-primary;
    @include transition(.5s);

    &:hover, &:active, &:focus {
        color: $brand-primary;
        outline: none;
        text-decoration: none;
    }
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: $brand-black;
    font-family: $font-primary;
    font-weight: 400;
    margin: 0 0 20px 0;
}

////::-webkit-selection {
//  color: $brand-white;
//  background: $brand-primary;
//}

::-moz-selection {
    color: $brand-white;
    background: $brand-primary;
}

::selection {
    color: $brand-white;
    background: $brand-primary;
}

.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.gtco-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1001;
    background: $brand-white;
    @media screen and (max-width: $screen-sm) {
        padding: 10px 0;
    }
    @media screen and (min-width: 2500px) {
        .menu-1 ul li a {
            font-size: 1.2em !important;
        }
    }

    #gtco-logo {
        font-size: 20px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: bold;

        em {
            color: $brand-primary;
        }

        @media screen and (max-width: $screen-sm) {
            a {
                display: none;
            }
            margin-bottom: 2%;
        }
        @media screen and (max-width: $screen-lg) {
            font-size: 0.84em;
        }
        @media screen and (min-width: $screen-lg) {
            font-size: 0.84em;
        }
        @media screen and (min-width: 2500px) {
            font-size: 1.355em;
        }

    }

    .menu-1, .menu-2 {
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
    }

    ul {
        padding: 0;
        margin: .4em 0 0 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            display: inline;
            line-height: 1.5;

            > a {
                text-transform: uppercase;
                font-size: 13px !important;
                letter-spacing: .05em;
            }

            a {
                font-size: 16px;
                padding: 30px 10px;
                //color: #3ac1bc;
                color: $brand-primary;
                @include transition(.5s);

                &:hover, &:focus, &:active {
                    //color: #33a3bd;
                }
            }

            &.has-dropdown {
                position: relative;

                > a {
                    position: relative;
                    padding-right: 20px !important;

                    &:after {
                        @include icomoon;
                        content: "\e921";
                        //font-style: 10px;
                        position: absolute;
                        top: 50%;
                        margin-top: -7px;
                        right: 0;
                        color: #ccc;
                    }
                }

                .dropdown {
                    width: 130px;
                    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
                    z-index: 1002;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    text-align: left;
                    background: $brand-white;
                    padding: 20px;
                    @include border-radius(4px);
                    @include transition(.0s);

                    &:before {
                        bottom: 100%;
                        // left: 30%;
                        left: 40px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-bottom-color: $brand-white;
                        border-width: 8px;
                        margin-left: -8px;
                    }

                    li {
                        display: block;
                        margin-bottom: 7px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            padding: 2px 0;
                            display: block;
                            color: lighten($brand-black, 60%);
                            line-height: 1.2;
                            text-transform: none;
                            font-size: 15px;

                            &:hover {
                                color: $brand-black;
                            }
                        }

                        &.active {
                            > a {
                                color: $brand-black !important;
                            }
                        }
                    }
                }

                &:hover, &:focus {
                    a {
                        //color: #33a3bd;
                    }

                    .dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &.btn-cta {
                a {
                    color: $brand-primary;

                    span {
                        background: $brand-white;
                        padding: 4px 20px;
                        @include inline-block;
                        @include transition(.3s);
                        @include border-radius(100px);
                    }

                    &:hover {
                        span {
                            -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
                            box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
                        }
                    }
                }
            }

            &.active {
                > a {
                    color: $brand-black !important;
                }
            }
        }
    }
}

#gtco-header {
    @media screen and (max-width: $screen-xs) {
        .text-left {
            text-align: center !important;
        }
        .btn {
            display: block;
            width: 100%;
        }
    }

    @media screen and (max-width: $screen-md) {
        .text-left {
            text-align: center !important;
        }
    }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative;
}

.gtco-cover {
    height: 900px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;

    &.gtco-inner {
        h1 {
            margin-bottom: 0 !important;
        }
    }

    a {
        color: $brand-primary;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .overlay {
        z-index: 1;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(29, 43, 83, .89);
    }

    > .gtco-container {
        position: relative;
        z-index: 10;
    }

    @media screen and (max-width: $screen-sm) {
        height: 600px;
        height: inherit !important;
        padding: 3em 0;
    }

    .display-t,
    .display-tc {
        height: 900px;
        display: table;
        width: 100%;
        @media screen and (max-width: $screen-sm) {
            height: 600px;
            height: inherit !important;
            padding: 3em 0;
        }
    }

    &.gtco-cover-sm {
        height: 600px;
        @media screen and (max-width: $screen-sm) {
            height: 400px;
            height: inherit !important;
        }

        .display-t,
        .display-tc {
            height: 600px;
            display: table;
            width: 100%;
            @media screen and (max-width: $screen-sm) {
                height: 400px;
                height: inherit !important;
                padding: 3em 0;
            }
        }
    }

    &.gtco-cover-xs {
        height: 500px;
        @media screen and (max-width: $screen-sm) {
            height: inherit !important;
            padding: 3em 0;
        }

        .display-t,
        .display-tc {
            height: 500px;
            display: table;
            width: 100%;
            @media screen and (max-width: $screen-sm) {
                padding: 3em 0;
                height: inherit !important;
            }
        }
    }
}

.gtco-client {
    float: left;
    width: 100%;
    padding: 3em 0;
    background: #f6f6f6;

    .client {
        img {
            margin-top: 10px;
            @include inline-block;
        }
    }
}

.gtco-services {
    padding: 7em 0;

    .service {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 2em;
        margin-bottom: 30px;
        position: relative;
        background: $brand-white;
        -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
        bottom: 0;
        @include transition(.5s);
        @media screen and (max-width: $screen-md) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 18px;
            color: #000;
            text-align: left;
            position: relative;
            padding-left: 30px;

            i {
                position: absolute;
                left: 0;
                top: -0.1em;
                color: $brand-primary;
                font-size: 22px !important;
            }
        }

        p {
            text-align: left;
            color: #898989;
            font-size: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.changed {
            bottom: -7em;
            @media screen and (max-width: $screen-sm) {
                bottom: 0;
            }
        }
    }
}



.gtco-products {
    .gtco-item {

    }

    .one-row, .two-row {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .two-row {
        height: 239px;
    }

    .one-row {
        height: 508px;
    }

    .gtco-item {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            @include transition(.5s);

            i {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 16px;
                z-index: 14;
                color: $brand-white;
            }

            .copy {
                bottom: -20px;
                position: absolute;
                left: 0;
                padding: 20px;
                z-index: 12;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);

                h3 {
                    color: $brand-white;
                    margin: 0 0 10px 0;
                    padding: 0;
                    font-size: 18px;
                    font-weight: 400;
                }

                p {
                    color: rgba(255, 255, 255, .8);
                    font-size: 14px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &:before {
                z-index: 7;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                opacity: .8;
                //
                //background: rgba(61,205,188,1);
                //background: -moz-linear-gradient(left, rgba(61,205,188,1) 0%, rgba(51,161,189,1) 100%);
                //background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,205,188,1)), color-stop(100%, rgba(51,161,189,1)));
                //background: -webkit-linear-gradient(left, rgba(61,205,188,1) 0%, rgba(51,161,189,1) 100%);
                //background: -o-linear-gradient(left, rgba(61,205,188,1) 0%, rgba(51,161,189,1) 100%);
                //background: -ms-linear-gradient(left, rgba(61,205,188,1) 0%, rgba(51,161,189,1) 100%);
                //background: linear-gradient(to right, rgba(61,205,188,1) 0%, rgba(51,161,189,1) 100%);
                //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1 );
            }
        }

        &:hover {
            .overlay {
                opacity: 1;
                visibility: visible;

                .copy {
                    bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

}

.gtco-testimonial {
    .gtco-testimony {
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .gtco-left {
        > div {
            display: table-cell;
            float: left;
            width: 80px;

            img {
                @include border-radius(50%);
                max-width: 100% !important;
            }
        }

        > blockquote {
            padding-left: 20px;
            display: table-cell;
            border-left: none;
            margin: 0;
            padding: 0 0 0 30px;

            p {
                //font-style: 16px;
                font-style: italic;
            }

            .author {
                color: lighten($brand-black, 40%);
                display: block;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
}

#gtco-footer {
    background: lighten($brand-black, 15%);
    padding: 7em 0 0 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    float: left;

    a {
        &:hover {
            //color: $brand-white!important;
        }
    }

    .gtco-cta {
        margin-bottom: 30px;

        h3 {
            color: $brand-white;
            font-size: 30px;
            font-weight: 300;
        }

        .btn-white {
            padding: 15px 20px !important;

            &.btn-outline {
                &:hover {
                    color: $brand-black !important;
                }
            }
        }
    }

    .gtco-footer-paragraph {
        h3 {
            color: $brand-white;
            margin-bottom: 10px;
        }
    }

    .gtco-footer-link {
        padding-left: 30px;
        @media screen and (max-width: $screen-sm) {
            padding-left: 15px;
        }

        .gtco-list-link {
            padding: 0;
            margin: 0;

            li {

                padding: 0;
                margin: 0;
                list-style: none;

                a {
                    text-transform: uppercase;
                    font-size: 13px !important;
                }
            }
        }
    }

    .gtco-footer-subscribe {
        padding-left: 30px;
        @media screen and (max-width: $screen-sm) {
            padding-left: 15px;
        }

        .form-control {
            background: $brand-white !important;
            border: none !important;
        }

        .btn {
            margin-top: 4px;
            @include border-radius(4px);
            height: 54px !important;
            line-height: 1.5;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }

    .gtco-copyright {
        background: lighten($brand-black, 10%);
        padding: 30px 0;
        float: left;
        width: 100%;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gtco-staff, .gtco-item {
    margin-bottom: 4em;
    float: left;
    width: 100%;
    display: block;
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 3em;
    }

    img {
        margin-bottom: 40px !important;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 30px;
        color: #777;
    }

    .role {
        color: lighten($brand-black, 75%);
        margin-bottom: 20px;
        font-weight: normal;
        display: block;
    }

    .fh5co-social {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0 10px 0 0;
            list-style: none;
            @include inline-block;

            a {
                font-size: 20px;
                color: lighten($brand-primary, 0%);

                &:hover {
                    color: $brand-black;
                }
            }
        }
    }
}

.gtco-social-icons {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        @include inline-block;

        a {
            @include inline-block;
            color: $brand-primary;
            padding-left: 10px;
            padding-right: 10px;

            i {
                font-size: 20px;
            }
        }
    }
}

.gtco-contact-info {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    position: relative;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0 0 0 50px;
            margin: 0 0 30px 0;
            list-style: none;
            position: relative;

            &:before {
                color: lighten($brand-black, 80%);
                position: absolute;
                left: 0;
                top: .05em;
                @include icomoon;
            }

            &.address {
                &:before {
                    font-size: 30px;
                    content: "\e9d1";
                }
            }

            &.phone {
                &:before {
                    font-size: 23px;
                    content: "\e9f4";
                }
            }

            &.email {
                &:before {
                    font-size: 23px;
                    content: "\e9da";
                }
            }

            &.url {
                &:before {
                    font-size: 23px;
                    content: "\e9af";
                }
            }
        }
    }
}


// Map
#map {
    width: 100%;
    height: 500px;
    position: relative;
    @media screen and (max-width: $screen-sm) {
        height: 200px;
    }
}

form {
    label {
        font-weight: normal !important;
    }
}

#gtco-header {
    background: #DA22FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);

    p {
        color: #d3f1ed;
        font-size: 20px;
        margin-bottom: 40px !important;
    }

    h1 {
        font-size: 50px;
        line-height: 1.2 !important;
        margin-bottom: 30px !important;
        color: #d3f1ed;
        font-weight: 100;
        @media screen and (max-width: $screen-sm) {
            line-height: 1.2 !important;
        }

        &.no-margin {
            margin-bottom: 0 !important;
        }

    }

    .copy {
        margin-top: 0em;
    }

    .btn {
        text-shadow: none !important;
    }

    .header-img {
        margin-bottom: 30px;
    }
}

#gtco-header,
#gtco-counter,
.gtco-cover {
    .display-tc {
        display: table-cell !important;
        vertical-align: middle;

        h1, h2 {
            margin: 0;
            padding: 0;
            color: rgba(255, 255, 255, 1);
        }

        h1 {
            margin-bottom: 0px;
            font-size: 60px;
            line-height: 1.5;
            @media screen and (max-width: $screen-lg) {
                font-size: 48px;
            }
            @media screen and (max-width: $screen-sm) {
                font-size: 40px;
                line-height: 1.2;
                margin-bottom: 10px;
            }
            @media screen and (max-width: $screen-phone) {
                font-size: 36px;
            }
            @media screen and (min-width: 2500px) {
                font-size: 70px;
            }
        }

        p {
            font-size: 30px;
            @media screen and (max-width: $screen-lg) {
                font-size: 25px;
            }
            @media screen and (max-width: $screen-sm) {
                font-size: 20px;
            }
            @media screen and (max-width: $screen-phone) {
                font-size: 18px;
            }
            @media screen and (min-width: 2500px) {
                font-size: 32px;
            }
        }

        h2 {
            font-size: 22px;
            line-height: 1.5;
            margin-bottom: 30px;
        }

    }
}

#gtco-counter {
    text-align: center;

    .counter {
        font-size: 50px;
        margin-bottom: 10px;
        color: $brand-primary;
        font-weight: 100;
        display: block;
    }

    .counter-label {
        margin-bottom: 0;
        text-transform: uppercase;
        color: rgba(0, 0, 0, .5);
        letter-spacing: .1em;
    }

    .feature-center {

        @media screen and (max-width: $screen-sm) {
            margin-bottom: 50px;
        }
    }

    .icon {
        width: 70px;
        height: 70px;
        text-align: center;
        margin-bottom: 20px;
        background: none !important;
        border: none !important;

        i {
            height: 70px;

            &:before {
                color: lighten($brand-black, 80%);
                display: block;
                text-align: center;
                margin-left: 3px;
            }
        }
    }
}

.gtco-section {
    padding: 7em 0;
    clear: both;
    position: relative;
    @media screen and (max-width: $screen-sm) {
        padding: 3em 0;
    }

    &.border-bottom {
        border-bottom: 1px solid lighten($brand-black, 85%);
    }

    &.gtco-gray {
        background: #f6f6f6;
    }
}


.gtco-heading {
    margin-bottom: 5em;

    &.gtco-heading-sm {
        margin-bottom: 2em;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #4d4d4d;
        font-weight: 300;
    }

    p {
        font-size: 18px;
        line-height: 1.7;
        color: #898989;
    }
}


// off canvas
#gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: lighten($brand-black, 0%);
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 45px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    @include translateX(270px);
    @include transition(.5s);
    @media screen and (max-width: $screen-sm) {
        display: block;
    }

    .offcanvas & {
        @include translateX(0px);
    }

    a {
        color: rgba(255, 255, 255, .5);

        &:hover {
            color: rgba(255, 255, 255, .8);
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;

            > ul {
                padding-left: 20px;
                display: none;
            }

            &.offcanvas-has-dropdown {
                > a {
                    display: block;
                    position: relative;

                    &:after {
                        position: absolute;
                        right: 0px;
                        @include icomoon;
                        content: "\e921";
                        font-size: 20px;
                        color: rgba(255, 255, 255, .2);
                        @include transition(.5s);
                    }
                }

                &.active {
                    a {
                        &:after {
                            -webkit-transform: rotate(-180deg);
                            -moz-transform: rotate(-180deg);
                            -ms-transform: rotate(-180deg);
                            -o-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }
}

.uppercase {
    font-size: 14px;
    color: $brand-black;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    @include transition(.5s);

    &.active {
        opacity: 1;
        visibility: visible;
    }

    a {
        width: 50px;
        height: 50px;
        display: table;
        background: rgba(0, 0, 0, .5);
        color: $brand-white;
        text-align: center;
        @include border-radius(4px);

        i {
            height: 50px;
            display: table-cell;
            vertical-align: middle;

        }

        &:hover, &:active, &:focus {
            text-decoration: none;
            outline: none;
        }
    }
}


// Burger Menu
.gtco-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;

    &.active i {
        &::before, &::after {
            background: $brand-darker;
        }
    }

    &:hover, &:focus, &:active {
        outline: none;
        border-bottom: none !important;
    }

    i {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        color: #252525;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #252525;
        transition: all .2s ease-out;

        &::before, &::after {
            content: '';
            width: 25px;
            height: 2px;
            background: #252525;
            position: absolute;
            left: 0;
            transition: all .2s ease-out;
        }
    }

    &.gtco-nav-white {
        > i {
            color: $brand-white;
            background: $brand-white;

            &::before, &::after {
                background: $brand-white;
            }
        }
    }
}

.gtco-nav-toggle i::before {
    top: -7px;
}

.gtco-nav-toggle i::after {
    bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
    top: -10px;
}

.gtco-nav-toggle:hover i::after {
    bottom: -10px;
}

.gtco-nav-toggle.active i {
    background: transparent;
}

.gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
    position: absolute;
    right: 0px;
    top: 8px;
    // top: 100px;
    // left: -100px;;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    // background: #f86942;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
    @media screen and (max-width: $screen-sm) {
        display: block;
    }
}

// Buttons
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 700 !important;
    @include border-radius(0px);
    letter-spacing: 2px;
    @include transition(.5s);
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: none !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);


    &:hover, &:active, &:focus {

        outline: none !important;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10);
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10);
    }
}

.btn-primary {
    background: $brand-primary;
    color: $brand-white;
    border: 2px solid $brand-primary !important;

    &:hover, &:focus, &:active {
        background: lighten($brand-primary, 5%) !important;
        border-color: lighten($brand-primary, 5%) !important;
    }

    &.btn-outline {
        background: transparent;
        color: $brand-primary;
        border: 2px solid $brand-primary;

        &:hover, &:focus, &:active {
            background: $brand-primary;
            color: $brand-white;
        }
    }
}

.btn-success {
    background: $brand-success;
    color: $brand-white;
    border: 2px solid $brand-success;

    &:hover, &:focus, &:active {
        background: darken($brand-success, 5%) !important;
        border-color: darken($brand-success, 5%) !important;
    }

    &.btn-outline {
        // REVISE
        background: transparent;
        color: $brand-success;
        border: 2px solid $brand-success;

        &:hover, &:focus, &:active {
            background: $brand-success;
            color: $brand-white;
        }
    }
}

.btn-info {
    background: $brand-info;
    color: $brand-white;
    border: 2px solid $brand-info;

    &:hover, &:focus, &:active {
        background: darken($brand-info, 5%) !important;
        border-color: darken($brand-info, 5%) !important;
    }

    &.btn-outline {
        background: transparent;
        color: $brand-info;
        border: 2px solid $brand-info;

        &:hover, &:focus, &:active {
            background: $brand-info;
            color: $brand-white;
        }
    }
}

.btn-warning {
    background: $brand-warning;
    color: $brand-white;
    border: 2px solid $brand-warning;

    &:hover, &:focus, &:active {
        background: darken($brand-warning, 5%) !important;
        border-color: darken($brand-warning, 5%) !important;
    }

    &.btn-outline {
        background: transparent;
        color: $brand-warning;
        border: 2px solid $brand-warning;

        &:hover, &:focus, &:active {
            background: $brand-warning;
            color: $brand-white;
        }
    }
}

.btn-danger {
    background: $brand-danger;
    color: $brand-white;
    border: 2px solid $brand-danger;

    &:hover, &:focus, &:active {
        background: darken($brand-danger, 5%) !important;
        border-color: darken($brand-danger, 5%) !important;
    }

    &.btn-outline {
        background: transparent;
        color: $brand-danger;
        border: 2px solid $brand-danger;

        &:hover, &:focus, &:active {
            background: $brand-danger;
            color: $brand-white;
        }
    }
}

.btn-white {
    background: $brand-white;
    color: $brand-black;
    border: 2px solid $brand-white;

    &:hover, &:focus, &:active {
        color: $brand-black !important;
        background: $brand-white;
        border-color: $brand-white;
    }

    &.btn-outline {
        color: $brand-white;
        border: 2px solid $brand-white;

        &:hover, &:focus, &:active {
            //background: $brand-white;
            color: $brand-black !important;
            border: 2px solid $brand-white;
        }
    }
}

.btn-special {
    //REVISE
    background: $brand-special;
    color: #239c71;
    border: 2px solid $brand-special;

    &:hover, &:focus, &:active {
        color: #239c71;
        background: $brand-special;
        border-color: $brand-special;
    }

    &.btn-outline {
        color: $brand-white;
        border: 2px solid $brand-special;

        &:hover, &:focus, &:active {
            background: $brand-white;
            color: $brand-black;
            border: 2px solid $brand-special;
        }
    }
}

.btn-outline {
    background: none;
    border: 2px solid lighten($brand-black, 50%);
    font-size: 16px;
    @include transition(.3s);

    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

.btn.with-arrow {
    position: relative;
    @include transition(.3s);

    i {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        @include transition(.2s);
    }

    &:hover {
        padding-right: 50px;

        i {
            color: $brand-white;
            right: 18px;
            visibility: visible;
            opacity: 1;
        }
    }
}

// Form Input Field
.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;

    &:active, &:focus {
        outline: none;
        box-shadow: none;
        border-color: $brand-primary;
    }
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.gtco-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    //background: url("") center no-repeat #fff;
}

.animate-box {
    .js & {
        opacity: 0;
    }
}


.gtco-nav {
    .gtco-contact {
        @media screen and (max-width: $screen-sm) {
            text-align: left !important;
        }

        ul {
            padding: 0;
            margin: 0 0 20px 0;

            li {
                padding: 0;
                margin: 0;

                a {
                    font-size: 14px;
                    font-weight: bold !important;
                    margin-left: 0px;
                    color: $brand-primary;

                    i {
                        color: $brand-primary;
                    }

                    &:hover {
                        i {
                            color: $brand-white;
                        }
                    }
                }
            }
        }

    }
}

#gtco-features-3 {
    position: relative;
    top: -7em;
    @media screen and (max-width: $screen-sm) {
        top: -2em;
    }

    .feature {
        width: 33.33%;
        float: left;
        padding: 30px;
        background: $brand-primary;
        position: relative;
        text-align: center;
        @media screen and (max-width: $screen-sm) {
            width: 100%;
            margin-bottom: 30px;
        }


        h3 {
            color: $brand-white;
            font-size: 18px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        p {
            color: rgba(255, 255, 255, .7);
            font-size: 16px;
            line-height: 1.7;
        }

        .icon {
            display: block;
            width: 90px;
            height: 90px;
            margin: 0 auto 10px auto;
            position: relative;
            background: darken($brand-primary, 3%);
            top: -3em;
            @include border-radius(50%);

            i {
                line-height: 90px;
                height: 90px;
                font-size: 40px;
                color: $brand-white;

                &:before {
                    display: block;
                    text-align: center;
                    margin-left: 3px;
                }
            }
        }

        &.feature-1 {
            z-index: 7;
        }

        &.feature-2 {
            bottom: 0px;
            z-index: 10;
            -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
            background: darken($brand-primary, 4%);
            @media screen and (max-width: $screen-sm) {
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
            }

            .icon {
                background: darken($brand-primary, 7%);
            }

            .feature-inner {
                top: -3em;
                position: relative;
                @media screen and (max-width: $screen-sm) {
                    top: 0;
                }
            }

            &:before {
                position: absolute;
                top: -50px;
                content: "";
                background: darken($brand-primary, 4%);
                height: 50px;
                width: 100%;
                left: 0;
                @media screen and (max-width: $screen-sm) {
                    display: none;
                }
            }

            &:after {
                position: absolute;
                bottom: -30px;
                content: "";
                background: darken($brand-primary, 4%);
                height: 30px;
                width: 100%;
                left: 0;

                // -webkit-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.25);
                // -moz-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.25);
                // box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.25);

                @media screen and (max-width: $screen-sm) {
                    display: none;
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                }
            }

        }

        &.feature-3 {
            z-index: 7;
            background: darken($brand-primary, 8%);

            .icon {
                background: darken($brand-primary, 10%);
            }
        }
    }
}

.gtco-flex {
    @include flexwrap;
    @include flex;
    position: relative;
    float: left;
}

#gtco-portfolio {
    padding: 7em 0;
    background: #303841;
    min-height: 500px;
    @media screen and (max-width: $screen-sm) {
        padding: 3em 0;
    }

    .gtco-heading {
        h2 {
            color: $brand-white;
        }

        p {
            color: rgba(255, 255, 255, .7);
        }
    }
}

#gtco-portfolio-list {
    @include flexwrap;
    @include flex;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        display: block;
        padding: 0;
        margin: 0 0 10px 1%;
        list-style: none;
        min-height: 400px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        clear: left;
        position: relative;
        @media screen and (max-width: $screen-xs) {
            margin-left: 0;
        }

        a {
            min-height: 400px;
            padding: 2em;
            position: relative;
            width: 100%;
            display: block;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                z-index: 80;
                @include transition(.5s);
            }

            &.color-1 {
                &:before {
                    background: rgba(55, 75, 84, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(55, 75, 84, 0);
                    }
                }
            }

            &.color-2 {
                &:before {
                    background: rgba(37, 190, 213, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(37, 190, 213, 0);
                    }
                }
            }

            &.color-3 {
                &:before {
                    background: rgba(239, 172, 147, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(239, 172, 147, 0);
                    }
                }
            }

            &.color-4 {
                &:before {
                    background: rgba(249, 17, 40, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(249, 17, 40, 0);
                    }
                }
            }

            &.color-5 {
                &:before {
                    background: rgba(252, 68, 40, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(252, 68, 40, 0);
                    }
                }
            }

            &.color-6 {
                &:before {
                    background: rgba(98, 177, 215, .7);
                }

                &:hover {
                    &:before {
                        background: rgba(98, 177, 215, 0);
                    }
                }
            }

            .case-studies-summary {
                width: auto;
                bottom: 2em;
                left: 2em;
                right: 2em;
                position: absolute;
                z-index: 100;
                @media screen and (max-width: $screen-sm) {
                    bottom: 1em;
                    left: 1em;
                    right: 1em;
                }

                span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 13px;
                    color: rgba(255, 255, 255, .7);
                }

                h2 {
                    color: $brand-white;
                    margin-bottom: 0;
                    @media screen and (max-width: $screen-sm) {
                        font-size: 20px;
                    }
                }

            }
        }

        &.two-third {
            width: 65.6%;
            @media screen and (max-width: $screen-sm) {
                width: 49%;
            }
            @media screen and (max-width: $screen-xs) {
                width: 100%;
            }
        }

        &.one-third {
            width: 32.3%;
            @media screen and (max-width: $screen-sm) {
                width: 49%;
            }
            @media screen and (max-width: $screen-xs) {
                width: 100%;
            }
        }

        &.one-half {
            width: 49%;
            @media screen and (max-width: $screen-xs) {
                width: 100%;
            }
        }

    }

}


/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 25% !important;
    // margin-top: -39px;
    z-index: 1001;
    position: absolute;
    @include transition(.2s);
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -170px;
    @media screen and (max-width: $screen-md) {
        right: -50px;
    }
    // margin-right: -50px;
    &:hover {

    }
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -170px;
    @media screen and (max-width: $screen-md) {
        left: -50px;
    }
    // margin-left: -50px;
    &:hover {

    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev {
    i {
        color: $brand-black;
    }

    &:hover {
        i {
            color: $brand-black;
        }
    }
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev {
    i {
        color: $brand-black;
    }

    &:hover {
        i {
            color: $brand-black;
        }
    }
}


.owl-theme .owl-controls .owl-nav {
    @media screen and (max-width: $screen-sm) {
        display: none;
    }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;

    i {
        color: lighten($brand-black, 80%);
        font-size: 24px;
        // background: rgba(0,0,0,.5)!important;
        padding: 12px;
        @include transition(.5s);
    }

    &:hover, &:focus {
        i {
            color: $brand-black;
            // background: rgba(0,0,0,.8)!important;
        }
    }
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: lighten($brand-black, 80%);
    @include transition(.2s);
    // border: 2px solid transparent;
    &:hover {
        background: none;
        // border: 2px solid lighten($brand-black, 80%);
    }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: none;
    background: lighten($brand-black, 30%);
    // border: 2px solid $brand-black;
}

.authform {
    width: 50%;
    margin: 0 auto;

    .formTitle {
        font-weight: bold;
        font-size: 2em;
        color: $brand-secondary;
        text-align: center;
        margin-bottom: 1em;
    }

    .formBtnholder {
        display: flex;
        justify-content: center;
    }
}
